<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Tocdify Login</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Tocdify, OCD for media files - Login" />
<meta name="author" content="jpadilladev" />
<link rel="icon" href="images/favicon.ico" />
<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/settings.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">tOCDify</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li id="linkGeneral"><a href="#" th:text="#{settings.general}">General <span class="sr-only">(current)</span></a></li>
					<li id="linkTemplates"><a href="#" th:text="#{settings.templates}">Templates</a></li>
				</ul>
			</div>
			<div id="sectionGeneral" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{settings.general}">General</h1>

				<form action="#" th:action="@{/changeUser}" th:object="${settings}" method="post">
					<div class="form-group">
						<label for="username" th:text="#{settings.general.label.username}">Username</label> <input type="text" th:field="*{username}" class="form-control" id="username"
							th:placeholder="#{settings.general.label.username}" />
					</div>
					<div class="form-group">
						<label for="password" th:text="#{settings.general.label.password}">Password</label> <input type="password" th:field="*{password}" class="form-control" id="password"
							th:placeholder="#{settings.general.label.password}" />
					</div>
					<input class="btn-info" type="submit" th:value="#{settings.general.label.changeUser}" />
				</form>
			</div>
			<div id="sectionTemplates" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="#{settings.templates}">Templates</h1>

				<form action="#" th:action="@{/changeUser}" th:object="${settings}" method="post">
					<div class="form-group">
						<label for="username" th:text="#{settings.general.label.username}">Username</label> <input type="text" th:field="*{username}" class="form-control" id="username"
							th:placeholder="#{settings.general.label.username}" />
					</div>
					<div class="form-group">
						<label for="password" th:text="#{settings.general.label.password}">Password</label> <input type="password" th:field="*{password}" class="form-control" id="password"
							th:placeholder="#{settings.general.label.password}" />
					</div>
					<input class="btn-info" type="submit" th:value="#{settings.general.label.changeUser}" />
				</form>
			</div>
		</div>
	</div>
	<script src="js/tocdify.js"></script>
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="css/bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(function() {
			tocdify.tabListeners({
				"linkGeneral" : "sectionGeneral",
				"linkTemplates": "sectionTemplates"
			}, "linkGeneral");
		});
	</script>
</body>
</html>